h3 {
    position: relative;
    background-color: #B980FF;
    padding: 15px;
    top: 100px;
    left: 100px;



}
p {
    position: relative;
    background-color: #61d7ef;
    padding: 15px;
    right: 20%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    position: relative;
    background-color: #61d7ef;
    width: 500px;
    height: 500px;
    margin: 5px;
}
.card h2 {
    Float: right;
    background-color: #B980FF;
    top: 100px;
    left: 200px;
    bottom: 0;
    margin: 5px;
}
#cleaner {
    clear: both;
}