.grid-container {
  display: grid;
    grid-template-rows:50px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-auto-rows: 51px;
}
.grid-container .grid-item {
  padding:10px ;
  text-align: center;
  border: #bf15b1;
  margin: 5px;
  background-color: #fcf2f2;
}
