.grid-container {
  display: grid;
    grid-template-rows:50px;
  grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-auto-rows: 51px;
}
.grid-container .grid-item {
  padding:10px ;
  text-align: center;
  border: #bf15b1;
  margin: 5px;
  background-color: #fcf2f2;
}
.boto {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.boto2 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

