.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.grid-item {
    background-color: #f5f5f5;
    border: 1px solid #bb7be5;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ef61e3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}